
/*Fonts to use*/

@import url('https://fonts.google.com/specimen/East+Sea+Dokdo');

@import 'https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
/*Paragraph Fonts*/
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.24);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
/*welcome screen*/
#welcome .welcome {
	max-width: 1200px;
	padding: 20px 550px;
  

}
#welcome h1 {
	font-size: 50px;
  margin-bottom: -10px;
}
#welcome h2 {
	font-size: 20px;
  font-style: italic;
  margin-bottom: -10px;
}

/* First line */
#projects .projects {
	flex-direction: column;
	max-width: 1600px;
	margin: 0 auto;
	padding: 100px 0;
}

#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .chart-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;;
    gap: 40px 40px;
    margin-top: 0px;
	margin-bottom: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: #000000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: white; 
  }
  
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #96c7ff 0%, #485563 100%);
	color: rgb(11, 11, 11);
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 5000;
	margin-top: 10px;
  color: rgb(11, 11, 11);
}
#projects .project-info p {
  font-size: 25px;
	color: rgb(29, 20, 79);
}

h2 {
	color: rgb(59, 60, 61);
	font-size: 15px;
  font-weight: 500;
	margin-top: 10px;
	margin-bottom: 10px;	
	text-align: center;
    font-family: 'East Sea Dokdo', cursive;
}

h3{
    color:rgb(2, 2, 2);
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif ;
 }




body{
    background-color:rgb(248, 248, 247);
    max-width: 90%;
    margin: auto;
 }
 
 

 
 footer {
    height: 100px
 }
 
 
 .pagecontainer {
   display: grid;
 
 }

 .acontainer {
    
    align-content: center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
    left: 0px;
    width: 100%;
    text-align: justify;
    border: 1.5px solid rgb(8, 8, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
    right: 0px;
    margin-top: 5px;

}
 
 /* --------------------------------------CONTENT IN BODY----------------------------------------------*/
 
 /* Flexbox container with home page graphs */
 .bcontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 30px 30px;
    margin-top: 30px;
    border: 1.5px dashed solid;
    border-color:1.5px rgb(5, 5, 5);
    padding: 25px;
    border-radius: 25px;
  }
  
 
/* Appearance of the charts */

 
 


.chart-container {
        display: inline-block;
        flex-direction: column;
        align-items: center;
        padding-top: 70px;
        padding-bottom: 70px;
        border-radius: 5px;
        padding: 20px;
        display: inline-block;
     }
     
 .chart:hover {
  transform: scale(1.05, 1.05);
  transition: 0.5s;
}

 

    
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    justify-content: center !important;
    vertical-align: bottom;
    text-align: center !important;
    align-content: center;
    max-width: 90%;
    margin:auto;
    max-width: 1200px;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    font-size: xx-small;
    letter-spacing: 0.1px;
  }
  
  .grid-item {
    background-color: white;
    padding: 10px;
    text-align: center; 
    border-width: .2em;
    height: 100%; 
    width: 100%;
    display: inline-block !important;
    margin: 0 auto;
    min-width: 280px;
    
    font-size: 10px;
  }




 /*Button Container Style*/
container{
	align-content: center;
	justify-content: center;
	flex-flow: row wrap;
	border-style: dashed;
	border-width: 10px;
	border-radius: 5px;
	border-color: #413d3d;
	padding: 20px;
	clear:both;

}

.button{
    align-content: center;
    flex-flow: center;
    border-radius: 4px;
    background-color: rgb(233, 121, 76);
    border-color: #f5eeeed5;
    color:white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 150px;
    margin: 10px 0px;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    transition: background-color 1s ease;
    font-size: 20px; 
  }

  .button1{
    align-content: center;
    flex-flow: center;
    border-radius: 4px;
    background-color: rgb(233, 121, 76);
    border-color: #f5eeeed5;
    color:white;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 150px;
    margin: 10px 0px;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
    transition: background-color 1s ease;
    font-size: 20px; 
    }
    .button2{
      align-content: center;
      flex-flow: center;
      border-radius: 4px;

      border-color: #f5eeeed5;
      color:white;
      font-weight: bold;
      text-align: center;
      padding: 10px;
      width: 150px;
      margin: 10px 0px;
      font-family: 'Pacifico', cursive;
      cursor: pointer;
      transition: background-color 1s ease;
      font-size: 20px; 
      }

  
  .button:hover{
    background-color: grey;
    border-color: rgb(247, 243, 243);
    color: black;}

  
/* text levels */

  .text-level-A, .text{
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
    font-family: 'Poppins', sans-serif ;
    margin-bottom: 10px;
    clear: left;
    width: 100%;
  }
  .text-level-B, .text{
    color: rgb(0, 0, 0);
    font-size: 7px;
    margin-top:3px;
    text-align: center;
    font-weight: normal;
    font-family: 'Poppins', sans-serif ;
    margin-bottom: 10px;
    clear: left;
    width: 100%;
  }
  /* Week 5 Methods to show all graphs */

